
$theme: '';.sc-button-view {
  display: inline-block ;
  vertical-align: middle;
  text-decoration: none ;
  border: 1px #555 none;
}

 .sc-button-view.sc-regular-size.square {
  font-size: 12px;
  max-height: 40px;
	background-image: sc_static('/images/buttonUp.png');
	border-radius: 5px;
	cursor: pointer;
}

 .sc-button-view.sc-regular-size.square .sc-button-inner {
  height: 24px;
  max-height: 40px;
	background-image: sc_static('/images/buttonUp.png');
	border-radius: 5px;
	cursor: pointer;
}

 .sc-button-view.sc-regular-size.square .sc-button-label {
  height: 45px;
  line-height: 42px;  
  margin-left: 11px;
  margin-right: 11px;  
	background: none;
	cursor: pointer;
	}

 .sc-button-view.sc-regular-size.square.active {
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.active .sc-button-inner {
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.active .sc-button-label {
	background: none;
}

 .sc-button-view.sc-regular-size.square.def,
 .sc-button-view.sc-regular-size.square.sel {
	background-image: sc_static('/images/buttonUpDefault.png');
}

 .sc-button-view.sc-regular-size.square.def .sc-button-inner,
 .sc-button-view.sc-regular-size.square.sel .sc-button-inner {
	background-image: sc_static('/images/buttonUpDefault.png');
}

 .sc-button-view.sc-regular-size.square.def .sc-button-label,
 .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	background: none;
}

 .sc-button-view.sc-regular-size.square.def.active,
 .sc-button-view.sc-regular-size.square.sel.active {
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
 .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
	background-image: sc_static('/images/buttonDown.png');
}

 .sc-button-view.sc-regular-size.square.def.active .sc-button-label,
 .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
	background: none;
}
