
$theme: '';.title-label
{
	color:white;
	font:50px 'Zapfino';
	font-size: 32px !important;
	line-height: 120px !important;
	margin-bottom: 0 !important;
}
.icon-one
{
	border-radius: 15px !important;
}
.frame
{
	opacity:0;
}
.landing-labels
{
	color:white;
	font:13px 'Zapfino';
	margin-left: -29px !important;
	text-align:'center' !important;
	line-height: 49px !important;
	font-size: 13px !important;

}
.profile-frame
{
		opacity:0;
}
.bottom-frame
{
		opacity:0;
}